html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Samsung Sharp Sans", "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 1150px) {
    header, main {
        margin: 0 4rem 0 4rem;
        padding: 0 4rem 0 4rem;
    }
}

.menu a.active, .submenus-container a.active{
  color: #007bff;
  transition: ease-in 0.3s;
}

.menu a.active#bouton-candidature{
    background: #007bff;
    color: white;
    transition: ease-in 0.3s;
    padding: 0.5rem 1rem;
    border: 2px solid #007bff;
    border-radius: 5px;
}

.menu a.contact{
    background: none;
    color: #007bff;
    padding: 0.5rem 1rem;
    border: 2px solid #007bff;
    border-radius: 5px;
}

.menu a.contact:hover{
    background: #007bff;
    color: white;
    transition: ease-in 0.3s;
}

/* header .header-container .home img{
    text-decoration: none;
    color: #007bff;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
} */

/* .header-container .home{
  flex: 0;
} */

.header-title a h1{
    text-decoration: none;
    color: #007bff;
    /* margin: 0; */
}

.header-container {
  display: flex;
  /* flex-direction: column; */
  /* width: 100%; */
  /* justify-content: space-between; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 1rem 0 2rem;
  flex-wrap: wrap;
}

@media (max-width: 250px) {
  .header-container{
    flex-direction: column;
    align-items: center;
  }
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centre le logo et le menu sur le même axe horizontal */
  width: 100%;
}

.menu-main {
  display: flex;
  gap: 2rem;
  align-items: center;
  order: 1;
}

.menu-main a, .menu-main button, .submenu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu-main button, .submenu button{
    font-size: 1rem;
    font-family: "Samsung Sharp Sans", "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.menu-main a:hover, .menu-main button:hover, .submenu a:hover, .submenu button:hover{
    color: #007bff;
    transition: ease-in 0.3s;
}

/* Bouton hamburger */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 520px) {
  .menu-main {
    max-height: 0;              /* caché */
    overflow: hidden;           /* masque le contenu */
    flex-direction: column;
    align-items: flex-end;
    /* flex-direction: row;
    align-items: center;
    justify-content: center; */
    width: 100%;
    margin-top: 1rem;
    opacity: 0;                 /* invisible */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .menu-main.show {
    max-height: 500px;          /* hauteur suffisante pour contenir les liens */
    opacity: 1;                 /* visible */
  }

  .menu-toggle {
    display: block;
  }
}

.submenus-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligne les sous-menus sur la droite sous le bouton Clients */
  width: 100%;
  /* margin-top: 1rem; */
}

.submenu-toggle.active {
    color: #007bff; /* Ton bleu */
}

.submenu {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  /* z-index: 10;

  position: absolute;
  top: 15%;
  right: 0;
  margin-top: 0.8rem;
  margin-right: 10px;
  padding-right: 10px; */
}

/* @media (min-width: 1150px) {
  .submenu{
    margin-right: 5rem;
    padding-right: 5rem;
  }
} */

.submenu.level1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* margin-left: 1rem; */
  /* order: 2; */
}

.submenu.level2 {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  /* margin-left: 2rem; */
  /* order: 3; */
}

.submenu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  padding: 0;
}

