/* main .panel-candidature-scrollable #panel-candidature .candidature-college,
main .panel-candidature-scrollable #panel-candidature .candidature-lycee,
main .panel-candidature-scrollable #panel-candidature .candidature-ecole-de-commerce{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

/* Code SCSS pour améliorer la lisibilité */
main{
    .panel-candidature-scrollable{
        #panel-candidature{
            .panel-candidature-container{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 30px;

                .candidature-college, .candidature-lycee, .candidature-ecole-de-commerce{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1rem;
                    border: 2px solid #007BFF;
                    border-radius: 8px;

                    h2{
                        text-align: center;
                    }

                    button{
                        border: 2px solid #007BFF;
                        background: none;
                        padding: 0.5rem 1rem;
                        border-radius: 8px;
                        font-weight: 500;
                        font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
                    }
                }
            }
        }
    }
}