/* Activer le défilement automatique pour faciliter la lecture de nos conferences et 
laisser de l'espace entre les blocs de conferences */
main .panel-conferences-scrollable #panel-conferences{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    overflow-x: auto;
}

@media (max-width: 700px) {
    main .panel-conferences-scrollable #panel-conferences{
        display: flex;
        flex-direction: row;
        gap: 30px;
        overflow-x: auto;
    }
}

/* Mettre chaque conference en forme */
main .panel-conferences-scrollable #panel-conferences .conference-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 10px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
}

main .panel-conferences-scrollable #panel-conferences .conference-item .conference-texte{
    margin: 1rem;
}

/* Customiser l'image */
main .panel-conferences-scrollable #panel-conferences .conference-item .conference-image img{
    width: 100%;
    height: auto;
}

main img{
    width: 100%;
    height: auto;
}

.conference-texte h2, .conference-texte p{
    color: white;
}

.conference-infos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    overflow-x: auto;
}

.conference-infos div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    /* box-shadow: 0 0 10px black; */
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
}