/* Activer le défilement automatique pour faciliter la lecture de nos formations et 
laisser de l'espace entre les blocs de formations */
main .panel-formations-scrollable #panel-formations{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    overflow-x: auto;
}

/* Mettre chaque formation en forme */
main .panel-formations-scrollable #panel-formations .type-formation-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 10px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
}

main .panel-formations-scrollable #panel-formations .type-formation-item h2, main .panel-formations-scrollable #panel-formations .type-formation-item p{
    margin: 10px 0 10px 10px;
}

/* Customiser l'image */
main .panel-formations-scrollable #panel-formations .type-formation-item .type-formation-image img{
    width: 100%;
    height: auto;
}

.menuFormation {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menuFormation a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menuFormation a:hover{
    color: #007bff;
    transition: ease-in 0.3s;
}

.menuFormation a.active{
  color: #007bff;
  transition: ease-in 0.3s;
}