/* PANEL D'ACCUEIL */

/* Activer le défilement automatique pour faciliter la lecture et laisser de l'espace entre les blocs */
main .panel-accueil-scrollable #panel-accueil{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    overflow-x: auto;
}

/* Mettre chaque bloc en forme */
main .panel-accueil-scrollable #panel-accueil .accueil-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 10px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
}

main .panel-accueil-scrollable #panel-accueil .accueil-item h2, main .panel-accueil-scrollable #panel-accueil .accueil-item p{
    margin: 10px 0 10px 10px;
}

/* Customiser l'image */
main .panel-accueil-scrollable #panel-accueil .accueil-item .accueil-image img{
    width: 100%;
    height: auto;
}

/* PARTIE FORMULAIRE */
/* Personnalisation de mon formulaire */
form{
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
    max-width: 400px;
    text-align: center;
    background-color: beige;
    border-radius: 15px;
    margin-top: 4rem;
    overflow-x: auto;
}

/* Customiation du titre de mon formulaire */
form fieldset{
    border: none;
    font-size: 2rem;
    font-weight: 500;
}

/* Personnalisation de mes inputs et mon champ de texte */
form input, form textarea, form select{
    display: block;
    width: auto;
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 2px solid #007bff;
    box-sizing: border-box;
}

/* Personnalisation de mon input de validation */
form input[type=submit]{
    background: none;
    background-color: white;
    color: #007bff;
    cursor: pointer;
    text-align: center;
}

/* Personnalisation de mon input de validation au survol */
form input[type=submit]:hover{
    background-color: #007bff;
    color: white;
    transition: ease-in 0.2s;
}